<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= article.publish_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= article.link %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author %>
  </p>

  <p>
    <strong>Read status:</strong>
    <%= article.read_status %>
  </p>

</div>
