<p style="color: green"><%= notice %></p>

<h2><%= @article.title %></h2>
<p>By: <%= @article.author %> on <%= @article.publish_date.strftime("%d %B, %Y") %> </p>
<p><%= simple_format(cleanup(@article.description)) %></p>
<p>View the original article <%= link_to "here", @article.link %>!</p>
<p><%= link_to "Return and mark unread", articles_path(ur: @article) %></p> 
